<div class="open-question" ng-init="findOne()" ng-show="openQuestion">
    <div class="question-header">
      <div class="question-info">
        <span>{{question.created | date:'medium'}}</span>
        <span>{{question.creator.username}}</span>
        <span>
          <span ng-repeat="company in question.companies">{{company}}</span>
        </span>
        <span>
          <span ng-repeat="concept in question.concepts">{{concept}}</span>
        </span>
        <span>{{question.level}}</span>
        <i class="fa fa-times"></i>
        <a ng-show="currentUser._id == question.creator._id" href="/questions/{{question._id}}/edit">edit</a>
      </div>
      <h2>
        {{question.title}}
      </h2>
    </div>

    <div class="markdown" btf-markdown="question.content"></div>

    <div class="answer">
      <form class="pure-form pure-form-stacked" ng-submit="answer()">
        <label for="answer">
          Answer
          <a class="pull-right" href="">Markdown guide</a>
          <span class="pull-right"><i class="fa fa-check fa-right"></i>Markdown supported</span>
        </label>
        <textarea ng-model="content" id="answer"></textarea>
        <button type="submit" class="pure-button pure-button-primary">Answer</button>
      </form>
    </div>

    <div class="show-answers" ng-click="toggleAnswers()" ng-show="!showAnswers">
      Show answers
      <i class="fa fa-caret-down fa-left"></i>
    </div>

    <div class="answers" ng-show="showAnswers">
      <div ng-repeat="answer in answers">
        <div class="answer-info">
          <span class="upvote">
            <i class="fa fa-caret-up fa-right"></i>
            0
          </span>
          <span>{{answer.created | date:'medium'}}</span>
          <span>{{answer.creator.username}}</span>
        </div>

        <div class="markdown" btf-markdown="answer.content"></div>
      </div>
    </div>

    <div class="hide-answers" ng-click="toggleAnswers()" ng-show="showAnswers">
      Hide answers
      <i class="fa fa-caret-up fa-left"></i>
    </div>
</div>